/* general */
body {
  background-color: #1f1e1e;
  color: #fff;
  overflow: hidden;
}
h1 {
  text-align: center;
}

button {
  cursor: pointer;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 7px;
  transition: all 2s ease-in-out;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2eca6a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #26a356;
}

/* todo list */
.todo_wrapper {
  background-color: #353434;
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.7%;
  max-height: 75vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgb(27, 27, 27);
}

.todo_input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(78, 78, 78);
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.todo_input .todo_input_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px;
}

.todo_input .todo_input_item label {
  font-weight: bold;
  margin-bottom: 10px;
}
.todo_input .todo_input_item input {
  padding: 8px;
  border: 2px solid #353434;
  border-radius: 10px;
  box-shadow: 0px 5px 7px rgb(63, 63, 63);
  width: 250px;
}
.todo_input .todo_input_item input:focus {
  outline: 2px solid rgb(0, 230, 122);
}

.todo_input_item .primary_button {
  padding: 8px;
  border: none;
  border-radius: none;
  margin-top: 25px;
  background: rgb(0, 230, 122);
  color: #fff;
  padding: 10px;
  width: 60px;
}

.todo_input_item .primary_button:hover {
  background-color: rgb(4, 196, 106);
}

.secondary_button {
  padding: 8px;
  border: none;
  border-radius: none;
  margin-top: 25px;
  background: rgb(71, 71, 71);
  color: #fff;
  padding: 10px;
  width: fit-content;
}

.active {
  background-color: rgb(4, 196, 106);
}

.button_area {
  margin-bottom: 15px;
}

/* todo lists */
.todo_lists {
  display: flex;
  flex-direction: column;
}
.todo_lists .todo_list_item {
  background-color: #414040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
  box-shadow: 0px 3px 5px rgb(43, 42, 42);
}
.todo_list_item h3 {
  font-size: 25px;
  color: rgb(0, 230, 122);
  font-weight: bold;
  margin: 0;
}
.todo_list_item p {
  font-size: 14px;
  color: rgb(161, 161, 161);
  margin-top: 8px;
}

/* list icons */
.icons {
  display: flex;
  gap: 10px;
}
.icons .icon {
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  transition: 0.3s ease-in;
}
.icons .delete:hover {
  color: rgb(245, 73, 73);
}
.icons .check:hover {
  color: rgb(0, 230, 122);
}
