@font-face {
  font-family: vazir_r;
  src: url(assets/fonts/vazir-font-v16.1.0/Vazir-Light.woff);
}

@font-face {
  font-family: vazir_m;
  src: url(assets/fonts/vazir-font-v16.1.0/Vazir-Medium.woff);
}

* {
  font-family: vazir_r;
  letter-spacing: 0.03em;
}
